body{
    background-color:#f5f5f5;
    transform:perspective(500);
}
.main{
    width:1226px;
    margin:0 auto;
}
.advertising{
    position:relative;
    width:100%;
    min-width:1226px;
}
.advertising img{
    width:100%;
}
.cleanad{
    width:70px;
    height:20px;
    text-align:center;
    line-height:20px;
    position:absolute;
    top:2px;
    right:5%;
    color:#fff;
    font-size:12px;
    border-radius:20px;
    background:rgba(0,0,0,0.6);
    cursor:pointer;
}
.header{
    width:100%;
    min-width:1226px;
    height:40px;
    background-color:#333;
    line-height:40px;
}
.header ul li a{
    color:#b0b0b0;
    border-left:1px solid #393533;
    border-right:1px solid #393f3f;
}
.header ul li a:hover{
    color:#fff;
}
.header ul:first-child{
    float:left;
}
.header ul:first-child li{
    float:left;
}
.header ul:first-child li a{
    padding:0 7px;
}
.header ul:first-child li:first-child a{
    padding-left:0;
    border-left:none;
}
.header ul:first-child li:last-child a{
    border-right:none;
}
.header ul:last-child{
    float:right;
}
.header ul:last-child li{
    float:left;
}
.header ul:last-child li a{
    padding:0px 5px;
}
.header ul:last-child li:first-child a{
    border-left:none;
}
.header ul:last-child li:nth-last-child(2) a{
    border-right:none;
    padding:0;
    padding-left:10px;
}
.header ul:last-chil li:last-child a{
    border:none;
    padding:0;
    display:block;
    box-sizing:border-box;
    width:120px;
    height:100%;
    background-color:#424242;
    padding-left:14px;
    margin-left:26px;
}
.header ul:last-child li:last-child a img{
   float:left;
   margin:14px 4px 0px 0px;
}
.nav{
    width:100%;
    min-width:1226px;
    height:100px;
    background-color:#fff;
}
.nav h1{
    float:left;
    margin-top:22px;
}
.nav ul{
    float:left;
    margin-left:189px;
}
.nav ul li{
    float:left;
    line-height:100px;
}
.nav ul li a{
    color:#333333;
    font-size:14px;
    margin-right:20px;
}
.nav ul li a:hover{
    color:#ff6700;
}
.nav .search{
    float:right;
    margin-top:25px;
}
.nav .search input[type="text"] {
    float:left;
    width:243px;
    height:48px;
    padding-left:9px;
    border:1px solid #e0e0e0;
}
.nav .search input[type="submit"] {
    width:50px;
    height:50px;
    float:left;
    border:1px solid #e0e0e0;
    border-left:none;
    background:url(../images/mi_07.png) no-repeat center;
    cursor:pointer;
}
.banner{
    overflow:hidden;
    width:100%;
    min-width:1226px;
    background-color:#fff;
}
.banner .banner-main{
    position:relative;
    height:460px;
    background:url(../images/banner.webp) no-repeat center;
    background-size:100% 100%;
}
.banner .banner-main::before,.banner-main:after{
    content:"";
    position:absolute;
    top:215px;
    width:20px;
    height:20px;
    border:3px solid #d1d1d2;
    border-left:none;
    border-top:none;
    cursor:pointer;
}
.banner .banner-main::before{
    left:244px;
    transform:rotate(135deg);
}
.banner .banner-main::after{
    right:10px;
    transform:rotate(-45deg);
}
.banner .banner-main ul{
    width:234px;
    height:100%;
    overflow:hidden;
    background:rgba(0,0,0,0.4);
}
.banner-main ul li a{
    width:100%;
    font-size:14px;
    display:block;
    position:relative;
    color:#fff;
     padding:12px 0 12px 30px;
    box-sizing:border-box;
}
.banner-main ul li:first-child a{
    margin-top:14px;
}
.banner-main ul a:hover{
    background:#ff6700;
}
.banner-main ul li a::after{
    content:"";
    position:absolute;
    top:17px;
    right:24px;
    width:6px;
    height:6px;
    border:3px solid #fff;
    border-left:none;
    border-top:none;
    transform:rotate(-45deg);    
}
.banner-main ol{
    position:absolute;
    bottom:22px;
    right:30px;
}
.banner-main ol li{
    width:6px;
    height:6px;
    float:left;
    margin:4px;
    background-color:#30343e;
    border:2px solid #70727a;
    border-radius:5px;
    cursor:pointer;
}
.banner-main ol li:hover{
    background-color:transparent;
    border-color:#585a61;
}
.banner-main ol li:nth-child(5){
    background-color:transparent;
    border-color:#585a61;
}
.banner .banner-bottom{
    overflow:hidden;
    margin-top:14px;
    margin-bottom:26px;
}
.banner-bottom>li{
    float:left;
    margin-right:15px;
}
.banner-bottom>li:first-child{
    margin-right:14px;
}
.banner-bottom>li:last-child{
    margin-right:0;
}
.banner-bottom>li ul{
    width:234px;
    background-color:#5f5750;
    padding:4px 0px;
}
.banner-bottom>li ul li{
    float:left;
}
.banner-bottom>li ul li a{
    width:75px;
    height:81px;
    display:block;
    box-sizing:border-box;
    padding-top:49px;
    border:1px solid #665357;
    border-radius:7px;
    text-align:center;
    color:#cfccca;
    background:url(../images/clock.png) no-repeat center 19px;
    background-size:22px;
}
.banner-bottom>li ul li a:hover{
    background-color:#ff6700;
    color:#fff;
}
.banner-bottom>li ul li:nth-child(3n+1) a{
    margin-left:4px;
}
 h2{
     font-size:20px;
     color:#333;
     margin-top:40px;
     margin-bottom:20px;
 }
 .fast-buy{
     position:relative;
 }
 .fast-buy h2{
     margin-top:22px;
 }
 .fast-buy .get-more{
     position:absolute;
     top:14px;
     right:0;
 }
 .fast-buy .get-more a{
    float:left;
    padding:5px 14px 5px 12px;
    border:1px solid #e0e0e0;
 }
 .fast-buy .get-more a:hover{
     background-color:#fff;
 }
 .fast-buy .get-more a:first-child{
     border-right:none;
 }
 .fast-buy ul li{
     width:234px;
     height:339px;
     float:left;
     margin-right:14px;
     border-top:1px solid #ffac13;
     background-color:#fafafa;
     text-align:center;
 }
 .fast-buy ul li:first-child{
     border-top-color:#353935;
     background-color:#f1eded;
 }
 .fast-buy ul li:first-child span{
     display:inline-block;
 }
 .fast-buy ul li:first-child >span:nth-of-type(1){
     margin-top:60px;
     color:#ef3a3b;
     font-size:18px;
 }
 .fast-buy ul li:first-child img{
     margin:30px auto 35px;
 }
 .fast-buy ul li:first-child>span:nth-of-type(2){
     color:#6f6d6d;
     margin-left:-10px;
 }
.fast-buy ul li:first-child p{
    font-size:18px;
    color:#605751;
    margin-top:33px;
}
.fast-buy ul li:first-child p span{
    width:46px;
    height:46px;
    color:#fff;
    font-size:18px;
    background-color:#605751;
    line-height:46px;
    margin:0 3px;
}
.fast-buy ul li:nth-child(3){
    border-top-color:#83c44e;
}
.fast-buy ul li:nth-child(4){
    border-top-color:#2196f3;
}
.fast-buy ul li:last-child{
    border-top-color:#e53935;
    margin-right:0;
}
.fast-buy ul li:nth-child(n+2) dl{
    width:188px;
    margin:0 auto;
}
.fast-buy ul li:nth-child(n+2) dt,dd{
    width:100%;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
.fast-buy ul li:nth-child(n+2) dt{
    color:#202020;
}
.fast-buy ul li:nth-child(n+2) dd{
    margin-top:2px;
    color:#adadad;
}
.fast-buy ul li:nth-child(n+2) dd:last-child {
    color:#fa6509;
    margin-top:12px;
}
.fast-buy ul li:nth-child(n+2) dd:last-child span{
    text-decoration:line-through;
    color:#adadad;
    margin-left:3px;
}
.ad-bottom{
    display:block;
    margin-top:22px;
    height:120px;
}
.ad-bottom img{
    width:100%;
    height:100%;
}
.phone{
    position:relative;
}
.phone a{
    display:block;
    transition:all 0.3s;
}
.phone a:hover{
    transform:translate(0,-2px);
    box-shadow:0 15px 30px rgba(0,0,0,0.3);
}
.phone .phone-left{
    float:left;
    width:234px;
}
.phone ul li{
    float:left;
    margin-left:14px;
    margin-bottom:14px;
    width:234px;
    height:300px;
}
.phone ul li a{
    width:100%;
    height:100%;
    padding-top:20px;
    box-sizing:border-box;
    background-color:#fff;
}
.phone ul li a img{
    width:160px;
    height:160px;
    margin:0 auto;
}
.phone ul li a dl{
    width:210px;
    margin:20px auto;
    text-align:center;

}
.phone ul li a dt{
    color:#333;
}
.phone ul li a dd{
    color:#b0b0b0;
    margin-top:5px;
}
.phone ul li a dd:last-child{
    color:#ff6700;
    margin-top:12px;
}
.phone .brower-all {
	position: absolute;
	top: 12px;
	right: 0;
	font-size: 16px;
	color: #424242;
	transition: none!important;
}
.phone .brower-all {
	transform: none!important;
	box-shadow: none!important;
}
.phone .brower-all span {
	position: relative;
	top: -1.43px;
	padding: 5px;
	color: #fff;
	font-size: 12px;
	background: rgba(0,0,0,.4);
	border-radius: 50%;
	margin-left: 5px;
}
.phone .brower-all:hover {
	color: #ff6700;
}
.phone .brower-all:hover span {
	background-color: #ff6700;
}
.ele-app ul li .common-big-img img {
		width: 100%;
		height: 100%;
}
.ele-app ul li a img {
	width: 160px;
	height: 160px;
}
.ele-app ul li:nth-child(5n+1) {
	margin-left: 0;
}
.ele-app ul li .common-small {
	width: 100%;
	height: 143px;
	margin-bottom: 14px;
}
.ele-app ul li .common-small img {
	float: right;
	width: 80px;
	height: 80px;
	margin: 12px 20px;
}
.ele-app ul li .common-small h3 {
	font-size: 12px;
	color: #333;
	width: 90px;
	margin-top: 25px;
	margin-left: 30px;
}
.ele-app ul li .common-small p {
	color: #ff6700;
	margin-left: 30px;
	margin-top: 10px;
}
.ele-app ul li .common-small:last-child h3 {
	font-size: 16px;
}
.ele-app ul li .common-small:last-child p {
	color: #757575;
}
.ele-app ul li .common-small .see-more {
	float: right;
	width: 40px;
	height: 40px;
	margin: 25px 20px;
	border: 3px solid #ff6700;
	border-radius: 50%;
	text-align: center;
	line-height: 40px;
	background: url(../images/mi_26.png) no-repeat center;
}
.video a {
	float: left;
	width: 296px;
	height: 285px;
	background-color: #fff;
	margin-right: 14px;
}
.video a:last-child {
	margin-right: 0;
}
.video a dl dt {
	position: relative;
	width: 296px;
	height: 180px;
}
.video a dl dt img {
	width: 100%;
	height: 100%;
}
.video a dl dd:nth-child(2) {
	color: #333;
	margin-top: 30px;
	text-align: center;
}
.video a dl .play {
	position: absolute;
	top: 146px;
	left: 20px;
	width: 32px;
	height: 20px;
	border: 2px solid #fff;
	border-radius: 11px;
	background-color: transparent;
	font-size: 12px;
	color: #fff;
	text-align: center;
	line-height: 20px;
}
.video a:hover dl:hover .play {
	border-color: #ff6700;
	background-color: #ff6700;
}
.footer {
	width: 100%;
	min-width: 1226px;
	background-color: #fff;
	margin-top: 26px;
	padding-bottom: 40px;
}
.footer ul {
	width: 100%;
	border-bottom: 1px solid #e0e0e0;
	padding: 27px 0;
}
.footer ul li {
	float: left;
	padding: 0 56px;
	height: 25px;
	line-height: 25px;
	border-right: 1px solid #e0e0e0;
}
.footer ul li:last-child {
	border: none;
}
.footer ul li a {
	font-size: 16px;
	color: #616161;
}
.footer ul li a:hover {
	color: #ff6b00;
}
.footer ul li a span {
	margin-right: 5px;
	font-size: 22px;
}
.footer dl {
	float: left;
	margin-top: 37px;
	margin-right: 103px;
}
.footer dl dt {
	color: #424242;
}
.footer dl dd {
	margin-top: 14px;
}
.footer dl dd:nth-of-type(1) {
	margin-top: 28px;
}
.footer dl dd a {
	color: #757575;
}
.footer dl dd a:hover {
	color: #ff6700;
}
.footer .service {
	float: right;
	margin-top: 40px;
	width: 251px;
	height: 111px;
	border-left: 1px solid #e0e0e0;
	text-align: center;
}
.footer .service h3 {
	color: #ff6700;
	font-size: 18px;
}
.footer .service p {
	color: #616161;
	margin-top: 10px;
}
.footer .service a:nth-child(3) {
	display: block;
	width: 118px;
	height: 28px;
	margin: 5px auto;
	border: 1px solid #ff6700;
	line-height: 28px;
	color: #ff6700;
}
.footer .service a:nth-child(3):hover {
	color: #fff;
	background-color: #ff6700;
}
.footer .service a:nth-child(3) span {
	display: inline-block;
	vertical-align: middle;
	margin-right: 4px;
}
.footer .service p a span {
	margin-left: 10px;
	color: #757575;
}
.footer .service p a:hover span {
	color: #ff6700;
}
.footer .service p a:first-child span {
	font-size: 22px;
}
.copy {
	width: 100%;
	height: 40px;
	background-color: #fafafa;
	line-height: 40px;
	text-align: center;
}
.copy a {
	color: #444;
}
.copy a:hover {
	font-weight: bold;
}